<div class="component">
  <p>
    <strong>Title:</strong>
    <%= component.title %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= component.description %>
  </p>
  <p>
    <strong>Notes:</strong>
    <%= component.notes %>
  </p>
  <p>
    <strong>Dependencies</strong>
    <%= component.dependencies %>
  </p>
  <p>
    <strong>Code</strong>
    <%= component.code %>
  </p>
  <p>
    <%= link_to 'Show', component.styleguide._slugs[0] + '/' + component._slugs[0] %>
    <%= link_to 'Edit', component.styleguide._slugs[0] + '/' + component._slugs[0] + '/edit' %>
    <%= link_to 'Destroy', component.styleguide._slugs[0] + '/' + component._slugs[0], method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
</div>