<div class="component">
  <p>
    <strong>Title:</strong>
    <%= component.title %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= component.description %>
  </p>
  <p>
    <strong>Notes:</strong>
    <%= component.notes %>
  </p>
  <p>
    <strong>Dependencies</strong>
    <%= component.dependencies %>
  </p>
  <p>
    <strong>Code</strong>
    <%= component.code %>
  </p>
  <p>
    <%= link_to 'Show', component_path(@user, @styleguide, component) %>
    <%= link_to 'Edit', edit_component_path(@user, @styleguide, component) %>
    <%= link_to 'Destroy', component_path(@user, @styleguide, component), method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
</div>
