<%= form_for(@component) do |f| %>
  <% if @component.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@component.errors.count, "error") %> prohibited this component from being saved:</h2>
      <ul>
      <% @component.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <h2><%= @styleguide.title %></h2>
  </div>
  <div class="form-group">
    <%= f.text_field :title, :placeholder => "Title" %>
  </div>
  <div class="form-group">
    <%= f.text_area :description, :placeholder => "Description" %>
  </div>
  <div class="form-group">
    <%= f.text_area :notes, :placeholder => "Notes" %>
  </div>
  <div class="dependency form-group">
    <%= f.text_field :dependencies, :placeholder => "Dependencies", :id => 'dependency' %>
  </div>
  <div class="form-group">
    <%= f.text_area :code, :placeholder => "Markup", :id => "code", :class => "code" %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit', :class => 'btn btn-default comp-save' %>
  </div>
  <%= hidden_field_tag :styleguide_id, @styleguide.id %>
<% end %>
