<%= form_for(@component) do |f| %>
  <% if @component.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@component.errors.count, "error") %> prohibited this component from being saved:</h2>

      <ul>
      <% @component.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.text_field :title, :placeholder => "Title" %>
  </div>
  <div class="field">
    <%= f.text_area :description, :placeholder => "Description" %>
  </div>
  <div class="field">
    <%= f.text_area :notes, :placeholder => "Notes" %>
  </div>
  <div class="field">
    <%= f.text_area :dependencies, :placeholder => "Dependencies" %>
  </div>
  <div class="field">
    <%= f.text_area :code, :placeholder => "Markup", :onkeyup => "textAreaAdjust(this)", :style => "overflow: hidden" %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit', :class => 'btn btn-default comp-save' %>
  </div>
  <%= hidden_field_tag :styleguide_id, @styleguide_id %>
<% end %>
