

        <!--stylesheets here-->
    <% 
    content_for :styleguide_css do
    arr = @styleguide.css_paths.split(",")

    arr.each do |css_path|
    %>
    <%= stylesheet_link_tag css_path %>
    
    <% end %>

    <% end %>
    <% @components.each do |component| %>

    <h3>
      <%= component.title %>
    </h3>

    <hr>

    <p>
      <%= component.description %>
    </p>

    <div class="element">
        <!-- <a href="#" class="btn btn-default">Button</a> -->
        <%= component.code.html_safe %>
    </div>

    <div class="codeline">
        
        <div class="pull-right">
            <%= link_to @owner._slugs[0] + '/' + @styleguide._slugs[0] + "/" + component._slugs[0] do %>
                <i class="icon-newspaper"></i>
            <% end %>
            
            <%= link_to edit_component_path(component) do %>
                <i class="icon-pen"></i>
            <% end %>
            <a href=""><i class="icon-cancel_circle"></i></a>
        </div>
    </div>
    <div class="code-details one">
        <div class="">
            <strong>Dependencies:</strong>
            <%= component.dependencies %>
        <div class="">

            <%= component.code.html_safe %>
        </div>

        <p>
          <strong>Notes:</strong>
          <%= component.notes %>
        </p>

      </div> 
    </div>
        <!--
        <%= link_to 'Show', component %>
        
        <%= link_to 'Destroy', component, method: :delete, data: { confirm: 'Are you sure?' } %>
        -->


    <% end %>

<br>

<%= link_to 'New Component', new_component_path %>
