
<%= css_links @styleguide %>
    <% content_for :styleguide_css do
        arr = @styleguide.css_paths.split(",")
        arr.each do |css_path|
    %>
        <%= stylesheet_link_tag css_path %>
    <% end %>
<% end %>



<div class="styleguide-header row">
    <h2>Guide Name</h2>
    <a href="">icon</a>
    <a href="">icon</a>
    <a href="">icon</a>

    <div class="view">
        <a href="">icon</a>
        <a href="">icon</a>
    </div>

    <a class="btn pull-right">+ Component</a>
</div>

<div id="component">
    <div class="row">
        <h3><%= @component.title %></h3>
        <span class="edit">
            <a href="">Edit</a>
            <a href="">Delete</a>
        </span>
        <p><%= @component.description %></p>
    </div>
    <div class="row">
        <div class="element">
            <%= @component.code %>
        </div>
    </div>
    <div class="code row">
        <div class="dependency">
            <strong>Dependencies:</strong>
            <%= @component.dependencies %>
        </div>
        <textarea id="showcode">
            <%= @component.code.html_safe %>
        </textarea>
    </div>
    <div class="notes row">
        <strong>Notes:</strong>
          <%= @component.notes %>
    </div>
</div>

    
    
    

    
<!-- 
    <%= link_to 'Back', components_path %>
 -->
