
<section class="guideheader">
    <%= link_to raw("<i class='icon icon-plus'></i>  New Component"), add_component_path(@styleguide.user, @styleguide), :class => "btn pull-right" %>
    <h1><%= @styleguide.title %></h1>
    <ul class="sg_nav">
        <li><a class="active" title="Components" href="styleguide_admin.html"><i class="icon-components"></i></a></li>
        <li><a title="Settings" href="styleguide_settings.html"><i class="icon-settings"></i></a></li>
        <li><a title="Launch" target="_blank" href="styleguide_public.html"><i class="icon-launch"></i></a></li>
    </ul>
</section>
 
<% if notice %>
  <p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>

<%= render(@component) %>

<%= link_to 'Back', user_styleguide_path(@styleguide.user, @styleguide) %>

