
<%= css_links @styleguide %>
<%
    content_for :styleguide_css do
        if @styleguide
            arr = @styleguide.css_paths.split(",")
            arr.each do |css_path|
    %>
    <%= stylesheet_link_tag css_path %>
<% end %>
<% end %>
<% end %>

<h3><%= @component.title %></h3>
<hr>
<p><%= @component.description %></p>
<div class="codeline">
    <div class="pull-left">
        <div class="tags">
            <a href="">Tag</a>,
            <a href="">Tag</a>,
            <a href="">Tag</a>
        </div>
    </div>
    <div class="pull-right">
        <a href="" class="code" data-id="one"><i class="icon-newspaper"></i></a>
        <a href="#">
            <i class="icon-pen"></i>
        </a>
        <a href=""><i class="icon-cancel_circle"></i></a>
    </div>
</div>
<div class="code-details one">
    <div class="">
        <strong>Dependencies:</strong>
        <%= @component.dependencies %>
        <pre class="prettyprint prettyprinted" >
            <%= @component.code %>
        </pre>
        <p>
          <strong>Notes:</strong>
          <%= @component.notes %>
        </p>
    </div>
</div>
<br><br>
<%= link_to 'Back', styleguide_path(@styleguide.user, @styleguide) %>
