<!-- 
<%= css_links @styleguide %>
    <% content_for :styleguide_css do
        if @styleguide
            arr = @styleguide.css_paths.split(",")
            arr.each do |css_path|
    %>
                <%= stylesheet_link_tag css_path %>
        <% end %>
    <% end %>
<% end %>
 -->
<section class="guideheader">
    <%= link_to raw("<i class='icon icon-plus'></i>  New Component"), add_component_path(@styleguide.user, @styleguide), :class => "btn pull-right" %>
    <h1><%= @styleguide.title %></h1>
    <ul class="sg_nav">
        <li><a class="active" title="Components" href="styleguide_admin.html"><i class="icon-components"></i></a></li>
        <li><a title="Settings" href="styleguide_settings.html"><i class="icon-settings"></i></a></li>
        <li><a title="Launch" target="_blank" href="styleguide_public.html"><i class="icon-launch"></i></a></li>
    </ul>
</section>
 
<% if notice %>
  <p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>

<section class="main">

    <article class="component_item">
      <h2><%= @component.title %></h2>
      <p><%= @component.description %></p>

      <div class="component_rendered alert alert-info">
        <%= @component.dependencies %>
        <%= @component.code %>
      </div>
      <span><%= @component.notes %></span>
    </article>  

</section>
<%= link_to 'Back', user_styleguide_path(@styleguide.user, @styleguide) %>