<div class="authentication row">
    <div class="col-sm-4 col-sm-offset-4">
        <h2>Sign Up</h2>
        <%= link_to raw("<i class='icon icon-github'></i>Sign in with Github"), user_omniauth_authorize_path(:github), :class => 'btn github' %>
        <hr>
        <div class="or">OR</div>
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            <div class="form-group">
                <%= f.text_field :username, :placeholder => 'Username' %>
            </div>
            <div class="form-group">
                <%= f.email_field :email, :placeholder => 'Email' %>
            </div>
            <div class="form-group">
                <%= f.password_field :password, :placeholder => 'Password' %>
            </div>
            <div class="form-group">
                <%= f.submit "Sign up", :class => "btn" %>
            </div>
            <div class="links">
                <%= render "devise/shared/links" %>
            </div>
        <% end %>
    </div>
</div>
