<%= form_for(@styleguide) do |f| %>
  <% if @styleguide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@styleguide.errors.count, "error") %> prohibited this styleguide from being saved:</h2>

      <ul>
      <% @styleguide.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>


  <div class="field">
    <%= f.label :is_public %><br>
    <%= f.text_field :is_public %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :categories %><br>
    <%= f.text_area :categories %>
  </div>
  <div class="field">
    <%= f.label :css_paths %><br>
    <%= f.text_area :css_paths %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
