<%= form_for edit_styleguide_path(@user, @styleguide) do |f| %>
    <% if @styleguide.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@styleguide.errors.count, "error") %> prohibited this styleguide from being saved:</h2>
            <ul>
                <% @styleguide.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="form-group">
        <%= f.text_field :title, :placeholder => 'Title' %>
    </div>
    <div class="form-group">
        <%= f.text_field :image_url, :placeholder => 'Logo' %>
    </div>
    <div class="form-group">
        <%= f.text_field :description, :placeholder => 'Description' %>
    </div>
    <div class="form-group">
        <%= f.text_area :css_paths, :placeholder => 'Cut and paste your linked stylesheets and fonts' %>
    </div>
    <div class="form-group">
        <!--  <%= select_tag(:is_public) %> -->
        <%= f.select :is_public, options_for_select([["Public", "yes"], ["Private", "no"]], @styleguide.is_public) %>
    </div>
    <hr>
    <div class="categories">
        <h4>Categories</h4>
        <div class="addedCat"></div>
        <div class="form-group new-category">
            <%= f.text_field :categories, :placeholder => 'Add a new category' %>
        </div>
        <input type="hidden" id="addedCat">
    </div>
     <div class="actions">
        <%= f.submit "Save", :class => "btn" %>
    </div>
<% end %>
