<div class="guide">
  <div class="area">
    <% if styleguide.image_url != nil %>
    <%= image_tag(styleguide.image_url) %>
    <% end %>
    <h4>102</h4>
    <p>Components</p>
  </div>
  <%= styleguide.title %>
  <%= styleguide.user._slugs[0] %>
  <%= link_to 'Show', styleguide %>
  <%= link_to 'Edit', edit_styleguide_path(styleguide) %>
  <%= link_to 'Destroy', styleguide, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>