
<div class="guide">
    <%= link_to user_styleguide_path(styleguide.user, styleguide), :class => "area-link" do %>
        <div class="area" style="background-image: url(<%= styleguide.image_url %>)">
            <!--
            <% if styleguide.image_url == "" %>
                <div class="icon icon-qlogo"></div>
            <% end %>
            -->

            <div class="icon icon-qlogo"></div>
            <h4><%= styleguide.components.count %></h4>
        </div>
        <div class="title"><%= styleguide.title %></div>
    <% end %>

    <!-- <div class="name"><%= styleguide.user.username %></div> -->
    <!--     
        <%= link_to 'Edit', edit_styleguide_path(styleguide.user, styleguide) %>
        <%= link_to 'Destroy', user_styleguide_path(styleguide.user, styleguide), method: :delete, data: { confirm: 'Are you sure?' } %> 
    -->

</div>
