
<div class="guide">
  <div class="area" style="background: #f2f2f2 url(<%= styleguide.image_url %>)">
    <% if styleguide.image_url != nil %>
    <% end %>
    <h4>102</h4>
    <p>Components</p>
  </div>
  <%= styleguide.title %>
  <%= styleguide.user._slugs[0] %>
  <%= link_to 'Show', styleguide_path(@user, styleguide) %>
  <%= link_to 'Destroy', styleguide_path(@user, styleguide), method: :delete, data: { confirm: 'Are you sure?' } %>
</div>