<div class="row">
    <div class="col-sm-6">
        <h2>Styleguides</h2>
    </div>
    <div class="col-sm-6">
        <div class="new-guide">
            <a class="btn pull-right" href="/styleguides/new"> <i class="icon icon-plus"></i> New Styleguide</a>
        </div>
    </div>
</div>

<% if @current_user_styleguides == nil %>
<div class="no-guide">
    <i class="icon icon-qlogo"></i>
    <h2>Welcome to Quilt</h2>
    <p>Check out the public styleguides and <a href="/styleguides/new">get started by creating your own!</a></p>
</div>
<% end %>

<% if @current_user_styleguides != nil %>
    <h3>YOUR STYLEGUIDES</h3>
    <div class="guides">
        <% @current_user_styleguides.each do |styleguide| %>
        <div class="guide">
            <div class="area">
                <% if styleguide.image_url != nil %>
                    <%= image_tag(styleguide.image_url) %>
                <% end %>
                <h4>102</h4>
                <p>Components</p>
            </div>
            <%= styleguide.title %>
            <%= styleguide.user._slugs[0] %>
            <%= link_to 'Show', styleguide.user._slugs[0] +'/'+ styleguide._slugs[0] %>
            <%= link_to 'Edit', edit_styleguide_path(styleguide) %>
            <%= link_to 'Destroy', styleguide, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        <% end %>
    </div>
<% end %>

<br><br>
<% if @public_styleguides %>
PUBLIC STYLEGUIDES!
<div class="guides">
  <%= render(@public_styleguides) %>
</div>
<% end %>

<br clear="all">

<%= link_to 'New Styleguide', new_styleguide_path(@user) %> 
