<% if notice %>
  <p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @styleguide.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @styleguide.user.username %>
</p>

<p>
  <strong>Url:</strong>
  <%= link_to user_styleguide_url  %>
</p>

<p>
  <strong>Public?</strong>
  <%= @styleguide.is_public %>
</p>

<p>
  <strong>Description:</strong>
  <%= @styleguide.description %>
</p>
<p>
  <strong>Categories:</strong>
  <%= @styleguide.categories %>
</p>

<div class="new-component">
  <%= link_to raw("<i class='icon icon-plus'></i>  New Component"), add_component_path(@styleguide.user, @styleguide), :class => "btn pull-left" %>
</div>

<h3>Components:</h3>
<%= render(@styleguide.components) %>
