<% if notice %>
  <p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>

<!--
  <%= @styleguide.user.username %>
  <%= @styleguide.categories %>
  <%= @styleguide.is_public %>
  <%= link_to user_styleguide_url  %>
-->
  <!-- Styleguide Nav -->
  <section class="guideheader">
    <%= link_to raw("<i class='icon icon-plus'></i>  New Component"), add_component_path(@styleguide.user, @styleguide), :class => "btn pull-right" %>
    <h1><%= @styleguide.title %></h1>
    <ul class="sg_nav">
      <li>
        <%= link_to edit_styleguide_path(@styleguide.user, @styleguide) do %>
          <i class="icon-components"></i>
        <% end %>
      </li>
      <li><a title="Settings" href=""><i class="icon-settings"></i></a></li>
      <li><a title="Launch" target="_blank" href="styleguide_public.html"><i class="icon-launch"></i></a></li>
    </ul>
    <p><%= @styleguide.description %></p>
</section>
<%= render(@styleguide.components) %>
