<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @styleguide.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @styleguide.user_id %>
</p>

<p>
  <strong>Url:</strong>
  <%= "/" + @styleguide._slugs[0] %>
</p>

<p>
  <strong>Description:</strong>
  <%= @styleguide.description %>
</p>
<p>
  <strong>Categories:</strong>
  <%= @styleguide.categories %>
</p>

<div class="make-component">
  <h2>Add New Component</h2>
  <div class="box">
    <div class="choose">
      <div class="info">
        <h4>Add Component Manually</h4>
        <p>Manually add components using Quilt's online webform</p>
      </div>
      <div class="go">
        <%= link_to "Go", components_manual_path + '?id='+@styleguide.id, :class => "btn" %>
      </div>
    </div>
    <div class="choose">
      <div class="info">
        <h4>Upload Quilt Sheet</h4>
        <p>Bulk Add Components by uploading a Quilt Sheet. Read More about <a href="#">quilt tags</a></p>
      </div>
      <div class="go">
        <a class="btn">Go</a>
      </div>
    </div>
    <div class="choose">
      <div class="info">
        <h4>Integrate with GitHub Repo</h4>
        <p>Scan your git repo for components living in the wild. Read More about <a href="#">GitHub integration</a></p>
      </div>
      <div class="go">
        coming soon
      </div>
    </div>
  </div>

</div>
