<!doctype html>
<html class="no-js" lang="en">
<head>
  	<title>Quilt</title>
  	<%= stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => true %>
  	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  	<%= csrf_meta_tags %>
	<%= yield :styleguide_css %>
</head>
<body>

	<nav class="global">
		<a class="brandlink" href="/">
			<h1>
				<i class="icon icon-qlogo"></i> Quilt
			</h1>
		</a>

		<% if user_signed_in? %>

			<ul class="mainnav">
				<li><%= link_to "Styleguides", styleguides_path %></li>
				<li><a href="#">Team</a></li>
				<li><a href="#">Support</a></li>
			</ul>	

			<div class="account">
				<img src="https://0.gravatar.com/avatar/617b2ff79c74484f9ccf0bfc708a4d4c?d=https%3A%2F%2Fidenticons.github.com%2F384b06d890db682156a5779ed82aa985.png&r=x&s=100"/> 
				<%= current_user.email %> 
			</div>

			<!-- 		
			This log out needs to go in a dropdown // adding this later	
			<div class="navbtns">
				<%= link_to destroy_user_session_path, method: :delete, :class => 'logout' do  %>
					<i class="icon-signout"></i>
				<% end %>
			</div> -->

		<% end %>
	</nav>

	<div>
		<div class="offpage-left">
			<ul class="nav navbar-nav">
				<% if user_signed_in? %>

					<li>
						<%= link_to edit_user_registration_path do %>
							<span class="icon"><i class="icon-settings"></i></span> Settings
						<% end %>
					</li>
					<li>
						<a href="#">
							<span class="icon"><i class="icon-globe"></i></span> Component
						</a>
					</li>
					
					<li>
						<ul class="components">
							<% @components.each do |component| %>
								<li>
									<a href="#" class="comp-link">
										<%= component.title %>
									</a>
									<a href="#" class="edit-link">
										<span class="icon"><i class="icon-pen"></i></span>
									</a>
								</li>
							<% end %>
							<!-- <li><a href="post">Grid <span class="icon"><i class="icon-pen"></i></span></a></li>
							<li><a href="post">Navigation <span class="icon"><i class="icon-pen"></i></span></a></li>
							<li><a href="post">Tables <span class="icon"><i class="icon-pen"></i></span></a></li>
							<li><a href="post">Forms <span class="icon"><i class="icon-pen"></i></span></a></li>
							<li><a href="post">Icons <span class="icon"><i class="icon-pen"></i></span></a></li>
							<li><a href="post">Typography <span class="icon"><i class="icon-plus"></i></span></a></li>
							<li><a href="post">Buttons <span class="icon"><i class="icon-plus"></i></span></a></li>
							<li><a href="post">Lists <span class="icon"><i class="icon-plus"></i></span></a></li>
						 	-->
						</ul>
					</li>
					<li>
						<a href="#">
	  						<span class="icon"><i class="icon-plus"></i></span> Add New Component
						</a>
					</li>
					<li>
						<%= link_to new_styleguide_path(@user) do %>
	  					<span class="icon"><i class="icon-plus"></i></span> Add New Styleguide
						<% end %>
					</li>
				<% else %>
					<li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
	  				<li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
				<% end %>
			</ul> 
		</div>
	</div>
	<div class="main container">
		<% if flash[:alert] %>
   		<p class="alert alert-warning"><%= alert %></p>
   	<% end %>
		<%= yield %>
	</div>
</body>
</html>
