<!DOCTYPE html>
<html>
<head>
  <title>Quilt</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="body">
	<div class="navbar navbar-fixed-top">
		<div class="main">
			
			<div class="left">
				<a href="#" class="nav-offpage-left"><%= image_tag("menu.png") %></a>

				<% if user_signed_in? %>
					<%= link_to image_tag("quilt.png"), components_path, :class => "logo" %>
				<% else %>
					<%= link_to image_tag("quilt.png"), root_path, :class => "logo" %>
				<% end %>
			</div>
			<!-- <div class="right">
				<i class="icon-paperplane_ico"></i>
				<i class="icon-list"></i>
			</div> -->
		</div>
		<div class="offpage-left">
			<div class="branding">
				<p class="brand"><span class="header">Quilt</span></p>
				<% if user_signed_in? %>
					<p class="email"><%= current_user.email %> 
					<%= link_to destroy_user_session_path, method: :delete, :class => 'logout' do  %>
						<i class="icon-signout"></i>
					<% end %>
					</p>
				<% end %>
			</div>

			
			<ul class="nav navbar-nav">
				<% if user_signed_in? %>

					<li>
						<%= link_to edit_user_registration_path do %>
							<span class="icon"><i class="icon-settings"></i></span> Settings
						<% end %>
					</li>
					<li>
						<%= link_to components_path do %>
							<span class="icon"><i class="icon-globe"></i></span> Component
						<% end %>
					</li>
					
					<li>
						<ul class="components">
							<% @components.each do |component| %>
								<li>
									<%= link_to component, 'class' => 'comp-link' do %>
										<%= component.title %>
									<% end %>
									<%= link_to edit_component_path(component), 'class' => 'edit-link' do %>
										<span class="icon"><i class="icon-pen"></i></span>
									<% end %>
								</li>
							<% end %>
							<!-- <li><a href="post">Grid <span class="icon"><i class="icon-pen"></i></span></a></li>
							<li><a href="post">Navigation <span class="icon"><i class="icon-pen"></i></span></a></li>
							<li><a href="post">Tables <span class="icon"><i class="icon-pen"></i></span></a></li>
							<li><a href="post">Forms <span class="icon"><i class="icon-pen"></i></span></a></li>
							<li><a href="post">Icons <span class="icon"><i class="icon-pen"></i></span></a></li>
							<li><a href="post">Typography <span class="icon"><i class="icon-plus"></i></span></a></li>
							<li><a href="post">Buttons <span class="icon"><i class="icon-plus"></i></span></a></li>
							<li><a href="post">Lists <span class="icon"><i class="icon-plus"></i></span></a></li>
						 	-->
						</ul>
					</li>
					<li>
						<%= link_to new_component_path do %>
	  						<span class="icon"><i class="icon-plus"></i></span> Add New Component
						<% end %>
					</li>
					<li>
						<%= link_to new_component_path do %>
	  						<span class="icon"><i class="icon-plus"></i></span> Add New Styleguide
						<% end %>
					</li>
				<% else %>
					<li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
	  				<li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
				<% end %>
			</ul> 
		</div>
	</div>

	<div class="main container">
		<% if flash[:notice] %>
			<p class="notice"><%= notice %></p>
		<% end %>
		<% if flash[:alert] %>
       		<p class="alert"><%= alert %></p>
       	<% end %>

		<%= yield %>

	</div>

</body>
</html>
